<div id="chat">

  <div id="chatPane">
    <div id="chatLogoArea">
      <img src="assets/logo.png" id="chatLogo" />
    </div>
    <div id="chatMessages">
      <p ng-repeat="message in messages" ng-class="message.who" class="msg">{{ message.msg }}</p>
    </div>
    <div id="chatResponder">
      <form ng-submit="sendMsg()">
        <input type="text" id="chatResponseBox"
          placeholder="Write a message..."
          ng-model="chatMsg" />
      </form>
    </div>
  </div>

  <div id="mainPane">
    <div id="mapPane">
      <div id="topPanel">
        <div id="flightPanel" class="col-md-6">
          <h3>Flight</h3>

          <div id="flightInfo">
            <h4><span class="label label-danger">Depart</span> Spirit Airlines Flight {{ flight.in.num }} ({{ flight.in.cost }})</h4>
            <p><strong>Date: </strong> {{ flight.in.dep }} - {{ flight.in.arr }}</p>
            <h4><span class="label label-success">Return</span> Spirit Airlines Flight {{ flight.out.num }} ({{ flight.out.cost }})</h4>
            <p><strong>Date: </strong> {{ flight.out.dep }} - {{ flight.out.arr }}</p>
          </div>

        </div>
        <div id="hotelPanel" class="col-md-6">
          <h3>Hotel</h3>
          <h4>{{ hotel.name }} ({{ hotel.price }})</h4>
        </div>
      </div>
      <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
    </div>
  </div>

</div>
