<div id="chat">

  <div id="chatPane">
    <div id="chatLogoArea">
      <img src="assets/logo.png" id="chatLogo" />
    </div>
    <div id="chatMessages">
      <p ng-repeat="message in messages" ng-class="message.who" class="msg">{{ message.msg }}</p>
    </div>
    <div id="chatResponder">
      <form ng-submit="sendMsg()">
        <input type="text" id="chatResponseBox"
          placeholder="Write a message..."
          ng-model="chatMsg" />
      </form>
    </div>
  </div>

  <div id="mainPane">
  </div>

</div>
