#intro {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(assets/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  text-align: center;
  margin-top: 50px;
}

#logo {
  animation-delay: 0.5s;
  width: 50%;
}

.subtitle {
  animation-delay: 1s;
  font-size: 3em;
  font-family: 'Lato', sans-serif;
}

header #initial {
  margin-top: 30px;
  font-size: 2em;
  width: 500px;
  padding: 20px;
  opacity: 0.8;
}

#chat {
  height: 100%;
  width: 100%;
  position: absolute;
}

#chatPane {
  float: left;
  height: 100%;
  width: 400px;
}

#mainPane {
  float: left;
  height: 100%;
  width: calc(100% - 400px);
  background-color: black;
}

#chatLogo {
  height: 40px;
}

#chatLogoArea {
  padding: 5px 0px;
  border-bottom: 1px #ccc solid;
  text-align: center;
}
